body {
  font-family: sans-serif;
}

span.modal {
  position: fixed;
  top: 20%;
  left: 30%;
  width: 40%;
  background-color: white;
  border-radius: 6px;
  padding: 1rem;
  display: none;
  box-sizing: border-box;
  text-align: center;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

h1 {
  text-align: center;
  margin: 2rem;
}

form {
  width: 42rem;
  margin: 1rem auto;
  background-color: rgb(246, 249, 255);
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

section {
  margin-bottom: 2rem;
}

label {
  color: rgb(66, 76, 97);
  display: block;
  margin: 0.5rem 0;
}

input,
select {
  font: inherit;
  border: 1px solid rgb(152, 159, 184);
  padding: 0.2rem;
  width: 100%;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus,
select:focus {
  background-color: rgb(217, 227, 247);
}

#group-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#div-radio {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgb(51, 67, 100);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  color: inherit;
}

#div-radio label {
  margin: 0 0 5px 0;
}

input[type='radio'] {
  width: 1rem;
  margin: 0 auto;
}

.div-checkbox {
  display: flex;
  align-items: center;
}

.div-checkbox input {
  width: auto;
  margin-right: 0.5rem;
}

.div-checkbox label {
  margin: 0;
}

button {
  font: inherit;
  border: 1px solid rgb(51, 67, 100);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(51, 67, 100);
  color: white;
}

button:hover {
  background-color: rgb(69, 89, 129);
  border-color: rgb(69, 89, 129);
}

form:last-of-type {
  background-color: rgb(174, 197, 244);
  text-align: center;
}

form:last-of-type input {
  margin: 1rem 0;
}

form:last-of-type button {
  width: 30%;
  margin: 1rem;
}

#student-list div {
  width: 42rem;
  margin: 1rem auto;
  background-color: rgb(174, 197, 244);
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

#student-list button {
  margin: 0.1rem;
}
